/* UNIVERSAL FORMATTINGS */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: var(--manrope);
}

body {
  width: 100%;
  background-color: var(--color-white);
  font-family: var(--font-manrope);
  scroll-behavior: smooth;
  transition: all 0.3s ease-in-out;
}

/* ROOT DEFINITIONS */
:root {
  /* Colors */
  --color-very-dark-green: #394508;
  --color-white: #ffffff;
  --color-lemon: #d2fd9c;
  --color-dark-green: #619111;
  --color-brownish-green: #77912a;
  --color-ash: #5d5d5d;
  --color-black: #000000;

  /* colors hover */
  --color-very-dark-green: #394508;
  --color-white: #ffffff;
  --color-lemon-hover: #96cf51;
  --color-dark-green: #619111;
  --color-brownish-green: #77912a;
  --color-ash: #5d5d5d;
  --color-black: #000000;

  /* colors active */
  --color-very-dark-green: #394508;
  --color-white: #ffffff;
  --color-lemon-active: #549308;
  --color-dark-green: #619111;
  --color-brownish-green: #77912a;
  --color-ash: #5d5d5d;
  --color-black: #000000;

  /* font-Size */
  --font-xsm: 0.5rem;
  --font-sm: 0.75rem;
  --font-md: 1rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;
  --font-xxl: 2rem;

  /* font family */
  --font-manrope: "Manrope";

  /* boder radius */
  --radius-xsm: 3px;
  --radius-sm: 5px;
  --radius-md: 10px;
  --radius-lg: 15px;
  --radius-xlg: 25px;
  --radius-circle: 50%;

  /* paddings */
  --padding-xsm: 5px;
  --padding-sm: 10px;
  --padding-md: 15px;
  --padding-lg: 25px;
  --padding-xlg: 35px;
  --padding-xxl: 50px;

  /* margins */
  --margin-xsm: 5px;
  --margin-sm: 10px;
  --margin-md: 20px;
  --margin-lg: 30px;
  --margin-xl: 45px;

  /* gaps */
  --gap-xsm: 5px;
  --gap-sm: 10px;
  --gap-md: 15px;
  --gap-lg: 25px;
  --gap-xlg: 50px;
  --gap-xxlg: 70px;

  --box-shadow-sm: 0 0 2px #619111;
  --box-shadow-md: 0 0 5px #619111;
  --box-shadow-lg: 0 0 15px #619111;
  --box-shadow-xl: 0 0 20px #619111;
}

/* GENERAL FORMATTINGS */
a,
button {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  font-size: inherit;
}
a:hover,
button:hover {
  transform: translateY(2px);
  transition: transform 0.2s ease-in-out;
}

a:active,
button:active {
  transform: translateX(2px);
  transition: transform 0.2s ease-in-out;
}

.layout-container {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 9fr;
}

@media (max-width: 1024px) {
  .layout-container {
    grid-template-columns: 1fr;
    /* display: flex;
    flex-direction: column; */
  }
}

.side-bar {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xlg);
  justify-content: start;
  padding: var(--padding-lg) var(--padding-xxl) var(--padding-xlg)
    var(--padding-lg);
  background-color: var(--color-very-dark-green);
  position: sticky;
  top: 0;
  z-index: 100;
}

@media (max-width: 1024px) {
  .side-bar {
    position: static;
    height: fit-content;
  }

  .side-nav {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-very-dark-green);
    padding: var(--padding-sm);
  }
}

.side-nav {
  width: 100%;
  height: fit-content;
  display: flex;
  color: var(--color-white);
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: var(--gap-md);
}

.logo-text {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.get-started {
  padding: var(--padding-xsm) var(--padding-sm);
  background-color: var(--color-lemon);
  color: var(--color-black);
  border: none;
  border-radius: var(--radius-xsm);
}

.get-started:hover {
  background-color: var(--color-lemon-hover);
  transition:
    background-color,
    transform 0.3s ease-in-out;
}

.get-started:active {
  background-color: var(--color-lemon-active);
  transition:
    background-color,
    transform 0.3s ease-in-out;
}

.main-heading-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  justify-content: center;
  color: white;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
}

h1 span {
  color: var(--color-lemon);
}

.main-heading-container p {
  font-size: 0.8rem;
  color: rgb(171, 167, 167);
  line-height: 1.5;
}

.offerings-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.offerings-container h3 {
  color: var(--color-lemon);
}

.offerings {
  display: flex;
  gap: var(--gap-md);
}

.offering {
  width: 125px;
  height: 140px;
  background-color: var(--color-dark-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-sm);
  border-radius: var(--radius-sm);
  color: var(--color-black);
  font-weight: 500;
  padding: 0 var(--padding-sm);
}

@media (max-width: 1024px) and (min-width: 768px) {
  .offering {
    width: 250px;
  }
}

.offering:hover {
  background-color: var(--color-lemon);
  transition: backgrount-color 0.3s ease-in-out;
}

.offering:active {
  background-color: var(--color-brownish-green);
  transition: backgrount-color 0.5s ease-in-out;
}

.offering p {
  text-align: center;
}

/* Sidebar Bottom Navigations */

.sidebar-bottom-nav {
  display: flex;
  justify-content: start;
  align-items: center;
}

.sidebar-bottom-links {
  list-style: none;
  color: var(--color-lemon);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: var(--gap-md);
  font-size: var(--font-md);
}

.sidebar-bottom-links a:hover {
  border-bottom: 2px solid var(--color-lemon);
  transition: border-bottom 0.2s ease-in-out;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 150px;
  padding: var(--padding-xlg);
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxlg);
}

.hero-screen-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: var(--gap-xlg);
}

.hero-screen {
  width: 100%;
  min-height: 60vh;
  background-image: url("./images/him-smilling.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: var(--radius-xlg);
  position: relative;
}

.hero-screen div {
  width: 160px;
  height: 50px;
  background-color: var(--color-dark-green);
  border-radius: var(--radius-md);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xsm);
}

#internet-card {
  position: absolute;
  top: 70px;
  left: 50px;
}

#money-card {
  position: absolute;
  top: 30px;
  right: 40px;
}

#payment-card {
  position: absolute;
  bottom: 60px;
  left: 200px;
}

.span {
  width: 30px;
  height: 30px;
  border-radius: var(--radius-circle);
  background-color: var(--color-lemon);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.hero-screen div p {
  color: var(--color-white);
  font-size: 0.9rem;
}

.hero-screen div p a:hover {
  color: var(--color-lemon);
}

.hero-screen div p a:active {
  color: var(--color-very-dark-green);
}

.hero-screen-container p {
  color: var(--color-black);
  text-align: center;
  font-size: var(--font-lg);
}

.hero-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap-lg);
  color: var(--color-dark-green);
  font-size: var(--font-lg);
  font-weight: 500;
}

.hero-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xsm);
}
.hero-link a:hover {
  color: var(--color-ash);
}

.hero-link a:active {
  color: var(--color-very-dark-green);
}

hr {
  width: 100%;
  height: 0.5px;
  background-color: rgba(133, 124, 124, 0.466);
  border: none;
}

.get-more-done {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xxlg);
}

.get-more-done-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xsm);
  color: var(--color-very-dark-green);
}

.get-more-done-header h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

.get-more-done-header p {
  font-size: var(--font-md);
  text-align: center;
}

.get-more {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: var(--gap-lg);
}

@media (max-width: 768px) {
  .get-more {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: var(--gap-lg);
  }
}

.get-more-card {
  width: 320px;
  height: 200px;
  background-color: var(--color-lemon);
  border: none;
  border-radius: var(--radius-md);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--gap-lg);
  padding: var(--padding-md);
}

.double-prodctivity h3 {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
}

.get-more-paragraph {
  text-align: center;
  font-size: var(--font-md);
}
